/* Target ID of "nav-links" */
#nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

/* Target class of "nav-link" */
.nav-link {
    background: black;
    padding: 8px;
}

.nav-link a {
    text-decoration: none;
}
