h1 {
    box-sizing: border-box; /* width and height now include padding / border. */

    width: 200px;
    height: 180px;
    background-color: salmon;

    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;

    border-top: 32px solid red;
    border-right: 32px solid green;
    border-bottom: 32px solid yellow;
    border-left: 32px solid blue;

    margin-top: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
}